.wrapper {
    padding-top: rem(80px);
    padding-bottom: rem(50px);
}

.supTitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-blue-light-color);
    letter-spacing: rem(0.5px);
    margin-bottom: var(--mantine-spacing-xl);
}
