.item {
    display: flex;
}

.itemIcon {
    padding: var(--mantine-spacing-xs);
    margin-right: var(--mantine-spacing-md);
}

.itemTitle {
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
    display: flex;
    gap: var(--mantine-spacing-xs);
    align-items: center;

}

.title {
    line-height: 1;
    text-align: center;
}

.description {
    text-align: center;
    margin-top: var(--mantine-spacing-xs);
}

.highlight {
    background-color: var(--mantine-color-blue-light);
    padding: rem(5px);
    padding-top: 0;
    border-radius: var(--mantine-radius-sm);
    display: inline-block;
    color: light-dark(inherit, var(--mantine-color-white));
}
